.container {
	display: flex;
}

.grid {
	width: 200px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	background-color: #F7EDF0;
}

.grid div {
	width: 20px;
	height: 20px;

}

.tetromino {
	background-color: #4B7B81;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F7EDF0;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}